<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="index.js"></script>
  <script src="./controllers/authController.js"></script>
  <title>Tag Angler</title>
</head>
<body ng-app='TagAngler'>
<div ng-view></div>
</body>
</html>