<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="index.js"></script>
  <script src="/query/authController.js"></script>
  <title>Tag Angler</title>
</head>
<body ng-app='TagAngler'>
<div ng-view></div>
  <div ng-controller='authController'>
    <h1>Login:</h1>
    <form ng-submit="login()">
      <p>Username:</p><input type="text" ng-model='username' required></input>
      <p>Password:</p><input type="password" ng-model='password' required></input>
      <br></br>
      <input type='submit' value='submit'></input>
    </form>
    <ol>
      <li ng-repeat='tag in list | orderBy: "-count"'>"{{ tag.text }}" (Popularity Score: {{ tag.count }})</li>
    </ol>
  </div>
</body>
</html>