body {
  background-color: #EAF7FF;
}

.title {
  margin: 0;
  padding: 20px;
  background-color: #28536C;
  color: white;
  text-shadow: 2px 2px black;
}

h2 {
  margin-left: 20px;
  color: 052436;
}

h3 {
  margin-left: 20px;
  color: 052436;
}

nav {
  background-color: #698DA2
}

nav * {
  color: white;
  text-shadow: 1px 1px black;
  margin-left: 20px;
  margin-right: 10px
}

form {
  margin-left: 20px;
}

.dirty.valid {
  border-color: green;
}

.dirty.invalid {
  border-color: red;
}