body {
  background-color: #EAF7FF;
}


h2 {
  margin-left: 20px;
  color: 052436;
}

h3 {
  margin-left: 20px;
  color: 052436;
}

nav {
  background-color: #698DA2
}

nav * {
  color: white;
  text-shadow: 1px 1px black;
  margin-left: 20px;
  margin-right: 10px
}


.title {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  background-color: #28536C;
}

.title * {
  margin: 0px;
  margin-top: 10px;
  color: white;
  text-shadow: 2px 2px black;
}

.lineup * {
  display: inline;
}

form {
  margin-left: 20px;
}

.csv {
  position: absolute;
  right: 20px;
  width: 50%;
}